server {
    listen 8080;

    location /api/ {
        proxy_pass https://mandik.info/api/;
        proxy_ssl_server_name on;
        proxy_set_header Host mandik.info;
        proxy_set_header Authorization "Bearer ${PORTFOLIO_TOKEN}";
    }

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;
    }
}
